<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292905878675-uq5rvgtmh7ivmd2kilj7k5uodt3o44ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292905878675-uq5rvgtmh7ivmd2kilj7k5uodt3o44ae</string>
	<key>API_KEY</key>
	<string>AIzaSyCJjvh5EE9XItzwvj_x6-qgxOJhJb4Ui3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>292905878675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tamweel</string>
	<key>PROJECT_ID</key>
	<string>tamweel-misr</string>
	<key>STORAGE_BUCKET</key>
	<string>tamweel-misr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292905878675:ios:33cf380162f29350d2b966</string>
</dict>
</plist>